*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.trang {
    margin: 50px;
}
.box {
    border: 3px solid #000000;
}
/* Header-top */
table {
    width: 100%;
    border-collapse: collapse;
}
.header {
    border: 2px solid #000000;
}
.avt img {
    border-radius: 100px;
    width: 70px;
    height: 70px;
}
.avt {
    display: flex;
    align-items: center;
    gap: 10px;
}
.you-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    padding: 10px 20px;
}
.nav-menu {
    display: flex;
    gap: 5px;
    font-size: 20px;
    margin-right: 30px;
}
.nav-menu a {
    text-decoration: none;
    color: black;
}
.nav-menu span {
    color: #000000;
    padding: 0 5px;
    margin-right: 10px;
}
.hero {
    margin-top: 50px;
    margin-bottom: 100px;
}
.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.hero p {
    font-size: 50px;
    color: #666;
    text-align: center;
}
.content-project-html h2 {
    font-size: 20px;
    margin: 10px 0 15px 0;
}   
.section {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.section div {
    padding: 20px 20px;
    font-size: 18px;
    border: 2px solid #000000;
    flex-grow: 1;
}
.section2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}
.section2 div {
    padding: 12px 20px;
    font-size: 18px;
}
.work {
    border: 2px solid #000000;
}
.work h2 {
    font-size: 20px;
    margin: 10px 0 15px 0;
    padding: 10px;
}
.work p {
    font-size: 18px;
    padding: 0 10px 10px 10px;
}
.Visit-my-Profile {
    color: blue;
}
.open {
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.open h2 {
    font-size: 20px;
    margin: 10px 0 15px 0;
    padding: 10px;
}
.open p {
    font-size: 18px;
    padding: 0 10px 10px 10px;
}
.Visit-my-Github {
    color: blue;
}
.education {
    border: 3px solid #000000;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.education h2 {
    font-size: 20px;
    margin: 10px 0 15px 0;
    padding: 10px;
}
.education p {
    font-size: 18px;
    padding: 0 10px 10px 10px;
}
.title h3 {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
}
.title li {
    padding-left: 50px 10px;
    margin: 3px 10px;
}
.footer h2 {
    font-size: 20px;
    margin: 30px 0 0 35px;
    padding: 0 150px;
    text-align: start;
}
.card {
    padding: 0 5px 0 5px;
    margin: 0 50px 0 10px;
    border: 3px solid #000000;
    border-radius: 40px;
    height: 150px;
    width: 250px;
}
.review-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 150px 100px 150px;
    padding: 0 20px;
    text-align: center;
    gap: 30px;
}
.card {
    border: 3px solid #000000;
    padding: 20px;
    margin-top: 50px;
}
.card p {
    text-align: start;
}
.comment-card {
    padding: 8px 3px;
    font-size: 16px;
    font-weight: bold;
}
.name-card, .title-card {
    font-size: 14px;
    color: #666666;
}
.end {
    text-align: center;
    margin-bottom: 50px;
}